<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteDebugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemoteDebugger.Properties.Settings>
            <setting name="remoteAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="loadCodeFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="loadCodeAddress" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="loadCodeAutoBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="loadCodeAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
        </RemoteDebugger.Properties.Settings>
    </userSettings>
</configuration>